RewriteEngine On

# Redirection des URLs avec .php vers les URLs propres (sans .php)
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R=301]

# Redirection des URLs sans .php vers les fichiers .php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L] 

RewriteRule ^index/?$ / [NC,L,R=301] 