<header>
  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html" id="nav-item-home">
        <img src="assets/images/logo.png" class="nav-logo" /> Educachien Engis-Fagnes
      </a>
      

      
      <div class="navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item" id="nav-item-about">
            <a class="nav-link" href="club.html">Le club</a>
          </li>
          <li class="nav-item" id="nav-item-cours">
            <a class="nav-link" href="cours.html">Cours</a>
          </li>
          <li class="nav-item" id="nav-item-horaires">
            <a class="nav-link" href="horaires.html">Horaires</a>
          </li>
          <li class="nav-item" id="nav-item-activites">
            <a class="nav-link" href="activites.html">Activités</a>
          </li>

          <li class="nav-item small-screen-only" id="nav-item-documents">
            <a class="nav-link" href="documents.html">Documents</a>
          </li>
          <li class="nav-item small-screen-only" id="nav-item-links">
            <a class="nav-link" href="links.html">Liens</a>
          </li>
          <li class="nav-item small-screen-only" id="nav-item-photos">
            <a class="nav-link" href="photos.html">Galeries photos</a>
          </li>

          <li class="nav-item dropdown large-screen-only">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownToggle">
              Plus ... <span class="dropdown-arrow">▼</span>
            </a>
            <ul class="dropdown-menu" id="dropdownMenu">
              <li>
                <a class="dropdown-item" id="nav-item-documents" href="documents.html">Documents</a>
              </li>
              <li>
                <a class="dropdown-item" id="nav-item-links" href="links.html">Liens</a>
              </li>
              <li>
                <a class="dropdown-item" id="nav-item-photos" href="photos.html">Galeries photos</a>
              </li>
              <li>
                <a class="dropdown-item" href="https://www.facebook.com/groups/741063934986589/" target="_new">
                  <img src="assets/images/fb_icon.png" class="fb" />
                </a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="navbar-nav">
          <li class="nav-item" id="nav-item-contact">
            <a class="nav-link nav-link-no-margin-right" href="contact.html">Contact</a>
          </li>
          <li class="nav-item small-screen-only" id="nav-item-facebook">
            <a class="nav-link" href="https://www.facebook.com/groups/741063934986589/" target="_new">
              <img src="assets/images/fb_icon.png" class="fb" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header> 